.modalWindow {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalWindowContent {
  width: 335px;
  height: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: scroll;
}

@media only screen and (max-width: 767px) {
  .modalWindowContent {
    max-width: 500px;
    height: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .modalWindowContent {
    width: 600px;
    height: 600px;
  }
}

.closeModalButton {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  stroke: white;

  border: none;

  padding: 0;
}
