.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;
}
.controls {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: baseline;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
}

.button {
  color: var(--primary-cl);
  border: none;
  border-radius: 10px;
  padding: 17px 50px;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: background var(--trans);
  margin-top: 9px;
}
.goBackBtn {
  color: var(--secondary-cl);
  background: var(--button-cl);

  &:hover {
    background: var(--button-hover-cl);
  }
}
.loadMoreBtn {
  background: var(--card-circle-cl);

  &:hover {
    background: var(--button-hover-cl);
  }
}

.filter {
  padding: 12px;
  background: var(--button-cl) !important;
  border: none;
  border-radius: 10px !important;
  border-width: 0 !important;

  div > div {
    color: var(--secondary-cl);
    font-size: 1.4em;
  }
}
